.content {
  display: flex;
  align-items: center;
  width: clamp(300px, 80%, 1600px);
  border-radius: 50px;
  position: relative;
  background-color: #2c2c2c;
  color: white;
  height: 100px;
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.35);

  a {
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
  }
  .input {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    z-index: 2;
    position: relative;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

h1 {
  display: flex;
  align-items: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bs-primary);
}

.ball {
  border-radius: 50px;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;

  svg {
    height: 250px;
    transform: rotate(40deg);
    position: absolute;
    right: -60px;
    top: -70px;

    path {
      fill: #00000021;
    }
    circle {
      fill: #00000021;
    }
  }
}
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 5;
}

:focus {
  outline: none;
}

input {
  border: none;
  // min-width: 160px;
  width: clamp(160px, 50%, 250px);
  // max-width: 300px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffff;
  z-index: 5;
}

.head-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
}

.right-corner {
  height: 100px;
  display: flex;
  position: relative;
}
.menu-btn {
  z-index: 2;
}

.mobile-search-btn {
  height: 38px;
  width: 50px;

  fill: var(--bs-btn-color);

  &:hover {
    fill: var(--bs-btn-hover-color);
  }
}

.mobile-searchbar {
  position: absolute;
  bottom: -55px;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.searchbar {
  background-color: #2c2c2c;
  border: 1px solid var(--bs-primary);
  color: var(--bs-primary);
  &::placeholder {
    color: var(--bs-primary);
  }
}
