.content {
    display: flex;
    justify-content: center;
}

.pokedex {
    display: flex;
    justify-content: center;
    max-width: 1600px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

header {
    height: 100px;
}

.d-none{
    display: none;
}
