<div class="content">
  <div class="pokedex" #pokemon>
    <app-pokemon *ngFor="let item of loadedPokemon.pokemonList; let i = index;" [index]="loadedPokemon.pokemonList[i]"
      (click)="selectPokemon(loadedPokemon.pokemonList[i]); loadedPokemon.openOverlay = true"></app-pokemon>
  </div>
</div>

<div *ngIf="loadedPokemon.openOverlay" class="overlay"
  (click)="selectedPokemon = ''; loadedPokemon.openOverlay = false">
  <app-selected-pokemon [selectedPokemon]="selectedPokemon" (click)="doNotClose($event)"></app-selected-pokemon>
</div>