<div class="selection-background">
    <img class="mobile-btn" (click)="pokemonService.openOverlay = false" src="assets/img/exitbtn.svg">
    <div class="selection-top position-relative" [ngClass]="pokemon ? [pokemon.types[0]] : 'black'">
        
        <div class="selection-Img">
            <img class="selection-pokeball" src="assets/img/pokeball.svg">
            <img class="pokemon" *ngIf="pokemon" [src]="pokemon.img" alt="pokemon image" onerror="this.src='assets/img/loading.svg'">
        </div>
        <div class="selection-title" [ngClass]="pokemon ? [pokemon.types[0]] + 'type' : 'black'">
            <img *ngIf="pokemonIndex > 0" id="back" class="back-button" (click)="loadNextPokemon('last')" src="assets/img/back.svg">
            <h2 class="margin-unset">{{pokemon ? pokemonService.titleCaseWord(pokemon.name) : 'Loading...' }}</h2>
            <img *ngIf="pokemonService.search ? pokemonIndex < pokemonService.pokemonSearchList.length -1 : pokemonIndex < pokemonService.pokemonFullList.length -1" id="next" class="next-button" (click)="loadNextPokemon('next')" src="assets/img/next.svg">
            <span>#{{pokemon ? pokemon.dexNumberString : ''}}</span> 
        </div>

    </div>
    <div class="selection-bottom">
        <div class="d-flex nav">
            <div id="generalBtn" (click)="general = true" class="nav-btn" [ngClass]="general ? '' : 'inactive-btn'">
                General                   
            </div>
            <!-- <div id="notGeneralBtn" (click)="general = false" class="nav-btn" [ngClass]="general ? 'inactive-btn' : ''">
                Types                   
            </div> -->
        </div>
        <div id="general">
            <div class="general-stats">
                <div class="general-stat">
                    <span>height</span><br>
                    <div><b>{{pokemon ? pokemon.height : ''}} m</b></div>
                </div>
                <div class="general-stat">
                    <span>weight</span><br>
                    <div><b>{{ pokemon ? pokemon.weight : '' }} kg</b></div>
                </div>
            </div>
            <div class="general-stats">
                <div class="general-stat" *ngIf="pokemon">
                    <span>abilities</span> <br>
                    <div><b id="abilities"><div *ngFor="let abilitie of pokemon.abilities">{{ abilitie }}</div></b></div>
                </div>
            </div>    
        </div>
        <div id="stats">
            <div class="d-flex justify-content-center stats-title">
                Species specific strengths
            </div>
            <div *ngIf="pokemon" id="statsImport">
                <div *ngFor="let stat of pokemon.stats; let i = index" class="d-flex stats justify-content-center">
                    <div class="d-flex stats justify-content-center">
                        <span>{{ pokemonService.titleCaseWord(stat.name) }}</span>
                        <ngb-progressbar class="mb-3 steel" type="success" [value]="progessbarWidth(stat.value)" style="width: 100%;">{{stat.value}}</ngb-progressbar>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>