/* You can add global styles to this file, and also import other style files */
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.gap-10 {
    gap: 10px;
}

.d-relative {
    display: flex;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Open Sans';
}

.fire {
    background-color: #FD4D5A;
}

.firetype {
    background-color: #FEA8AE;
}

.water {
    background-color: #85A8FF;
}

.watertype {
    background-color: #C3D4FF;
}


.bug {
    background-color: #429854;
}

.bugtype {
    background-color: #A2CCAB;
}

.dark {
    background-color: #5A5A77;
}

.darktype {
    background-color: #AEAEBC;
}

.dragon {
    background-color: #60CBD9;
}

.dragontype {
    background-color: #B0E5EC;
}

.electric {
    background-color: #FBFB70;
}

.electrictype {
    background-color: #FDFDB9;
}

.fairy {
    background-color: #EA1369;
}

.fairytype {
    background-color: #F48AB5;
}

.fighting {
    background-color: #ED623A;
}

.fightingtype {
    background-color: #F6B29E;
}

.flying {
    background-color: #95B1C5;
}

.flyingtype {
    background-color: #CBD8E2;
}

.ghost {
    background-color: #8E688E;
}

.ghosttype {
    background-color: #C8B5C8;
}

.grass {
    background-color: #27CA51;
}

.grasstype {
    background-color: #94E5A9;
}

.ground {
    background-color: #6E491F;
}

.groundtype {
    background-color: #B7A591;
}

.ice {
    background-color: #DAEFFA;
}

.icetype {
    background-color: #EDF7FC;
}

.normal {
    background-color: #CA98A7;
}

.normaltype {
    background-color: #E5CCD3;
}

.poison {
    background-color: #9B69D9;
}

.poisontype {
    background-color: #CEB5EC;
}

.psychic {
    background-color: #F81D8F;
}

.psychictype {
    background-color: #FB8FC8;
}

.rock {
    background-color: #8B3E1F;
}

.rocktype {
    background-color: #C6A091;
}

.steel {
    background-color: #42BD94;
}

.steeltype {
    background-color: #A2DFCA;
}
.black {
    background-color: #00000025;
}

.pokemon {
    position: absolute;
    filter: drop-shadow(10px -5px 4px #0000008c);
}